<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.marsLottery.server.dao.UserDao">
    <select id="pageBy" resultType="cn.marsLottery.server.po.User">
        select u.* from `user` u
        <if test="(customerNumber != null and customerNumber != '')">
            left join `customer` cu on cu.id = u.customer_id
        </if>
        <where>
            u.customer_id != "0"
            <if test="customerNumber != null and customerNumber != ''">
                and cu.number = #{customerNumber}
            </if>

        </where>
        order by u.id desc
    </select>
</mapper>
